{
  "openapi": "3.1.0",
  "info": {
    "title": "OptionsAhoy Calculator API",
    "summary": "Deterministic equity-compensation calculator endpoints. JSON in, JSON out.",
    "description": "Multi-year equity-compensation optimization engine. Seven free calculators that compute the globally-optimal schedule across the candidate space (not heuristics, not samples). Full federal tax code plus all 50 states and DC: ordinary brackets, long-term capital gains, AMT with credit recovery, FICA, NIIT; state AMT modeled for CA, CO, CT, MN. Unauthenticated, wide-open CORS. Same engine as the in-browser tools at https://optionsahoy.com/tools: response is byte-identical. Determinism is a side benefit: same inputs always return the same answer, so the optimizer's recommendation is verifiable. The tax math is independently verified: every 2026 federal constant matches its IRS Rev. Proc. 2025-32 value, federal cases reproduce to the cent against the independently-maintained PSL Tax-Calculator (https://github.com/PSLmodels/Tax-Calculator), and state tax reproduces to the cent against OpenTaxSolver (https://opentaxsolver.sourceforge.net/) across CA, NY, NJ, PA, and MA, with the proof recomputed live at https://optionsahoy.com/verification. Empirical justification for using an optimizer rather than letting a chatbot do the math: https://optionsahoy.com/benchmark (live, updated for the latest models) and https://hackernoon.com/but-can-it-do-taxes-though-why-you-shouldnt-trust-chatbots-with-tax-optimization-math",
    "version": "1.9.7",
    "contact": {
      "name": "AlphaLatitude Inc.",
      "email": "andrew@alphalatitude.com",
      "url": "https://optionsahoy.com/for-agents"
    },
    "license": {
      "name": "Proprietary. Free for non-commercial use during beta.",
      "url": "https://optionsahoy.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://optionsahoy.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "API inventory"
    },
    {
      "name": "ISO",
      "description": "Incentive stock options"
    },
    {
      "name": "NSO",
      "description": "Non-qualified stock options"
    },
    {
      "name": "RSU",
      "description": "Restricted stock units"
    },
    {
      "name": "Concentration",
      "description": "Single-stock concentration risk"
    },
    {
      "name": "Hedging",
      "description": "Protective put, collar, and put spread pricing"
    },
    {
      "name": "QSBS",
      "description": "Section 1202 qualification"
    },
    {
      "name": "EquityFunding",
      "description": "Goal-funded equity-to-cash liquidation planning"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "summary": "API discovery",
        "description": "Returns the API name, version, documentation URL, OpenAPI URL, and the array of endpoints. Cheap, public, no body required.",
        "operationId": "discover",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Endpoint inventory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "version",
                    "endpoints"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "documentation": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapi": {
                      "type": "string",
                      "format": "uri"
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "method",
                          "path",
                          "description"
                        ],
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/amt-iso": {
      "post": {
        "summary": "Multi-year ISO exercise schedule optimization",
        "description": "Returns the globally-optimal multi-year Incentive Stock Option (ISO) exercise schedule that minimizes federal and state Alternative Minimum Tax (AMT) across the horizon, accounting for AMT credit recovery in later years, qualifying-disposition timing, grant expiration, and the post-termination exercise window. Returns the optimum across the full candidate space (reproducible: same inputs, same result).",
        "operationId": "optimizeAmtIso",
        "tags": [
          "ISO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmtIsoInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AmtIsoSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/nso": {
      "post": {
        "summary": "NSO exercise tax + sell-vs-hold",
        "description": "Computes the after-tax payout on a non-qualified stock option (NSO) exercise: federal, state, FICA (Social Security + Medicare + Additional Medicare). Compares selling at exercise vs. holding for long-term capital gains across the chosen horizon.",
        "operationId": "calculateNso",
        "tags": [
          "NSO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NsoInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NsoSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/rsu-sell-vs-hold": {
      "post": {
        "summary": "RSU sell-at-vest vs. hold-for-LTCG",
        "description": "Compares the after-tax payout from selling RSU shares at vest and reinvesting in the market versus holding the shares, including the 12-month short-term-vs-long-term-capital-gains cliff, state tax, FICA, and the optional growth assumption.",
        "operationId": "calculateRsu",
        "tags": [
          "RSU"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RsuInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RsuSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/concentration": {
      "post": {
        "summary": "Single-stock concentration risk",
        "description": "Quantifies single-stock concentration risk: drawdown exposure at 30/50/70% scenarios and the after-tax comparison of selling down vs. holding vs. hedging, with multi-year tax math.",
        "operationId": "calculateConcentration",
        "tags": [
          "Concentration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConcentrationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConcentrationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/protective-put": {
      "post": {
        "summary": "Protective put, zero-cost collar, and put-spread pricing",
        "description": "Prices a protective put, a zero-cost collar, and a put spread on a single-stock position. Reports annual cost, maximum loss, upside cap (collar), protected band (put spread), and bad-year coverage, plus which structure it recommends.",
        "operationId": "priceProtectivePut",
        "tags": [
          "Hedging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProtectivePutInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProtectivePutSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/qsbs": {
      "post": {
        "summary": "Section 1202 QSBS qualification check",
        "description": "Evaluates Section 1202 Qualified Small Business Stock (QSBS) against the six statutory tests, returning the verdict, exclusion percentage, federal tax saved, and state conformity under OBBBA 2026 tiered exclusion rules.",
        "operationId": "checkQsbs",
        "tags": [
          "QSBS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QsbsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QsbsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/equity-funding": {
      "post": {
        "summary": "Multi-plan equity-funding comparison: Lock-in-now / Balanced / Hold-for-growth / Recommended",
        "description": "Returns four named plans on the risk/wealth frontier plus the full hybrid frontier. Returns the optimum across the full candidate space (reproducible: same inputs, same result); lognormal price exposure drives the shortfall probability; after-tax retained-share value acts as a backstop in the shortfall calculation. The `recommended` plan is the wealth-maximal plan whose shortfall is at or below `riskToleranceShortfall` (default 0.10). Wealth-at-target is compared apples-to-apples on after-tax basis (cash netted plus after-tax retained-share value, both compounded at the after-tax cash-interest rate).",
        "operationId": "planEquityFunding",
        "tags": [
          "EquityFunding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EquityFundingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EquityFundingSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "summary": "Public MCP usage summary",
        "description": "Returns total tool calls, last 24h / 7d / 30d counts, the top 5 most-called tools, and the timestamp of the most recent call. PII-safe (no IPs, user agents, or arguments). Cached 60 seconds at the edge.",
        "operationId": "stats",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totalCalls",
                    "last24h",
                    "last7d",
                    "last30d",
                    "topTools",
                    "asOf"
                  ],
                  "properties": {
                    "totalCalls": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "last24h": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "last7d": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "last30d": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "topTools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "count"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer",
                            "minimum": 0
                          }
                        }
                      }
                    },
                    "lastCallAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "asOf": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "distinctClients30d": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "503": {
            "description": "Stats binding not configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/badge": {
      "get": {
        "summary": "Shields.io usage badge",
        "description": "Returns the shields.io endpoint-badge JSON (schemaVersion 1) for live MCP usage. Used by README badges; rendered via https://img.shields.io/endpoint?url=. PII-safe aggregate counts only. Cached 5 minutes at the edge. Always returns 200 (lightgrey n/a badge when the stats binding is unconfigured) so the badge keeps rendering.",
        "operationId": "badge",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Which metric to render. Defaults to calls30d.",
            "schema": {
              "type": "string",
              "enum": [
                "calls30d",
                "calls",
                "clients30d"
              ],
              "default": "calls30d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shields endpoint-badge object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schemaVersion",
                    "label",
                    "message",
                    "color"
                  ],
                  "properties": {
                    "schemaVersion": {
                      "type": "integer",
                      "enum": [
                        1
                      ]
                    },
                    "label": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "CalculatorSuccess": {
        "description": "Calculation result. The exact shape of `result` varies by endpoint: sample a call to discover the full structure.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "type": "object",
                  "description": "Calculator output. Shape varies by endpoint."
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid input or calculation failure. The `error` string names the specific field or condition.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "Endpoint accepts only POST (and OPTIONS for CORS preflight).",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AmtIsoSuccess": {
        "description": "Successful amt_iso_optimize result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/AmtIsoResult"
                }
              }
            }
          }
        }
      },
      "NsoSuccess": {
        "description": "Successful nso_calculate result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/NsoResult"
                }
              }
            }
          }
        }
      },
      "RsuSuccess": {
        "description": "Successful rsu_sell_vs_hold result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/RsuResult"
                }
              }
            }
          }
        }
      },
      "ConcentrationSuccess": {
        "description": "Successful concentration_analyze result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/ConcentrationResult"
                }
              }
            }
          }
        }
      },
      "ProtectivePutSuccess": {
        "description": "Successful protective_put_price result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/ProtectivePutResult"
                }
              }
            }
          }
        }
      },
      "QsbsSuccess": {
        "description": "Successful qsbs_check result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/QsbsResult"
                }
              }
            }
          }
        }
      },
      "EquityFundingSuccess": {
        "description": "Successful equity_funding_plan result.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "result"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": true
                },
                "result": {
                  "$ref": "#/components/schemas/EquityFundingResult"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "FilingStatus": {
        "type": "string",
        "enum": [
          "single",
          "married_joint",
          "head_household"
        ],
        "description": "United States federal filing status."
      },
      "StateCode": {
        "type": "string",
        "pattern": "^[A-Z]{2}$",
        "description": "Two-letter United States state code (e.g. CA, NY, TX)."
      },
      "SectorKey": {
        "type": "string",
        "enum": [
          "tech_software",
          "semiconductors",
          "consumer_cyclical",
          "consumer_defensive",
          "financials",
          "healthcare_biotech",
          "energy",
          "industrials",
          "communication",
          "broad_market"
        ]
      },
      "IsoDate": {
        "type": "string",
        "format": "date",
        "description": "ISO 8601 date string (YYYY-MM-DD)."
      },
      "Ticker": {
        "type": "string",
        "description": "Optional public-stock symbol (e.g. \"NVDA\"). When set, the API substitutes the ticker's trailing CAGR for any unsupplied expected-return / sale-price field instead of requiring the caller to invent one. ~90 symbols covered; unknown tickers fall through to 'required field' 400 errors."
      },
      "AmtIsoInput": {
        "type": "object",
        "required": [
          "shares",
          "strike",
          "fmv",
          "filingStatus",
          "ordinaryIncome",
          "stateCode",
          "carryforwardCredit",
          "horizon",
          "grantDate",
          "hasLeftCompany",
          "terminationDate"
        ],
        "properties": {
          "shares": {
            "type": "integer",
            "minimum": 1,
            "description": "Total ISO shares to exercise across the horizon."
          },
          "strike": {
            "type": "number",
            "minimum": 0,
            "description": "Strike price per share, USD."
          },
          "fmv": {
            "type": "number",
            "minimum": 0,
            "description": "Fair market value per share today (year 1)."
          },
          "expectedGrowth": {
            "type": "number",
            "description": "Arithmetic-mean annual growth rate, e.g. 0.10 for 10%/year. Required unless `ticker` resolves it from trailing CAGR."
          },
          "ticker": {
            "$ref": "#/components/schemas/Ticker"
          },
          "volatilityDrag": {
            "type": "number",
            "minimum": 0,
            "maximum": 0.99,
            "description": "Multiplicative haircut at the planning horizon. Either this OR `volatility` is required; if both are supplied, `volatilityDrag` wins."
          },
          "volatility": {
            "type": "number",
            "minimum": 0,
            "description": "Annualized volatility (sigma) of the stock. Either this OR `volatilityDrag` is required; if both are supplied, `volatilityDrag` wins. Derived drag = 1 - exp(-(sigma^2 / 2) * horizon)."
          },
          "filingStatus": {
            "$ref": "#/components/schemas/FilingStatus"
          },
          "ordinaryIncome": {
            "type": "number",
            "minimum": 0,
            "description": "Annual W-2 / 1099 income excluding the exercise."
          },
          "stateCode": {
            "$ref": "#/components/schemas/StateCode"
          },
          "carryforwardCredit": {
            "type": "number",
            "minimum": 0,
            "description": "Existing federal AMT credit from prior years."
          },
          "horizon": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Planning horizon in years."
          },
          "cashReturnRate": {
            "type": "number",
            "description": "Annual after-tax return on idle cash, used to time-value AMT premiums. Optional; defaults to 0.04 when omitted."
          },
          "grantDate": {
            "$ref": "#/components/schemas/IsoDate",
            "description": "ISO grant date. Drives the 10-year expiration and 2-year qualifying-disposition gate."
          },
          "hasLeftCompany": {
            "type": "boolean"
          },
          "terminationDate": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IsoDate"
              },
              {
                "type": "null"
              }
            ],
            "description": "Termination date if departed; null otherwise. When set, opens the 90-day post-termination exercise window."
          }
        }
      },
      "NsoInput": {
        "type": "object",
        "required": [
          "shares",
          "strike",
          "currentPrice",
          "ordinaryIncome",
          "filingStatus",
          "stateCode",
          "stillEmployed",
          "holdYears",
          "holdFunding"
        ],
        "properties": {
          "shares": {
            "type": "integer",
            "minimum": 1
          },
          "strike": {
            "type": "number",
            "minimum": 0
          },
          "currentPrice": {
            "type": "number",
            "minimum": 0
          },
          "ordinaryIncome": {
            "type": "number",
            "minimum": 0
          },
          "filingStatus": {
            "$ref": "#/components/schemas/FilingStatus"
          },
          "stateCode": {
            "$ref": "#/components/schemas/StateCode"
          },
          "stillEmployed": {
            "type": "boolean",
            "description": "FICA applies only when true."
          },
          "holdYears": {
            "type": "number",
            "minimum": 1,
            "description": "Hold horizon. Sub-1-year is short-term and out of scope."
          },
          "expectedSalePrice": {
            "type": "number",
            "minimum": 0,
            "description": "Expected sale price at horizon, USD per share. Required unless `ticker` resolves it from currentPrice × (1 + trailing CAGR)^holdYears."
          },
          "haircut": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Volatility-drag haircut on expectedSalePrice. Either this OR `volatility` is required; if both are supplied, `haircut` wins."
          },
          "volatility": {
            "type": "number",
            "minimum": 0,
            "description": "Annualized volatility (sigma). Either this OR `haircut` is required; if both are supplied, `haircut` wins. Derived haircut = 1 - exp(-(sigma^2 / 2) * holdYears)."
          },
          "expectedMarketReturn": {
            "type": "number",
            "description": "Per-year median market return rate (vol-drag pre-applied). Defaults to SPY trailing CAGR for holdYears if omitted."
          },
          "ticker": {
            "$ref": "#/components/schemas/Ticker"
          },
          "holdFunding": {
            "type": "string",
            "enum": [
              "sell-to-cover",
              "cash"
            ]
          }
        }
      },
      "RsuInput": {
        "type": "object",
        "required": [
          "shares",
          "currentPrice",
          "ordinaryIncome",
          "filingStatus",
          "stateCode",
          "stillEmployed",
          "holdYears"
        ],
        "properties": {
          "shares": {
            "type": "integer",
            "minimum": 1
          },
          "currentPrice": {
            "type": "number",
            "minimum": 0,
            "description": "Fair market value at vest."
          },
          "ordinaryIncome": {
            "type": "number",
            "minimum": 0
          },
          "filingStatus": {
            "$ref": "#/components/schemas/FilingStatus"
          },
          "stateCode": {
            "$ref": "#/components/schemas/StateCode"
          },
          "stillEmployed": {
            "type": "boolean"
          },
          "holdYears": {
            "type": "number",
            "minimum": 0.25,
            "maximum": 5
          },
          "expectedSalePrice": {
            "type": "number",
            "minimum": 0,
            "description": "Projected $/share at end of holdYears. Required unless `ticker` resolves it from currentPrice × (1 + trailing CAGR)^holdYears."
          },
          "haircut": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Volatility-drag haircut on expectedSalePrice. Either this OR `volatility` is required; if both are supplied, `haircut` wins."
          },
          "volatility": {
            "type": "number",
            "minimum": 0,
            "description": "Annualized volatility (sigma). Either this OR `haircut` is required; if both are supplied, `haircut` wins. Derived haircut = 1 - exp(-(sigma^2 / 2) * holdYears)."
          },
          "expectedMarketReturn": {
            "type": "number",
            "description": "Per-year reinvestment rate. Defaults to SPY trailing CAGR for holdYears if omitted."
          },
          "ticker": {
            "$ref": "#/components/schemas/Ticker"
          }
        }
      },
      "ConcentrationInput": {
        "type": "object",
        "required": [
          "positionValue",
          "costBasis",
          "acquisitionDate",
          "sector",
          "stateCode",
          "filingStatus",
          "ordinaryIncome",
          "totalAssets"
        ],
        "properties": {
          "positionValue": {
            "type": "number",
            "minimum": 0,
            "description": "Current value of the concentrated position, USD."
          },
          "costBasis": {
            "type": "number",
            "minimum": 0
          },
          "acquisitionDate": {
            "$ref": "#/components/schemas/IsoDate"
          },
          "sector": {
            "$ref": "#/components/schemas/SectorKey"
          },
          "stateCode": {
            "$ref": "#/components/schemas/StateCode"
          },
          "filingStatus": {
            "$ref": "#/components/schemas/FilingStatus"
          },
          "ordinaryIncome": {
            "type": "number",
            "minimum": 0
          },
          "totalAssets": {
            "type": "number",
            "minimum": 0,
            "description": "Total investable portfolio in dollars (concentrated position + everything else). User-supplied; never inferred."
          },
          "expectedPositionReturn": {
            "type": "number",
            "description": "Annual return on the concentrated stock. Required unless `ticker` resolves it from trailing CAGR."
          },
          "expectedMarketReturn": {
            "type": "number",
            "description": "Annual return on diversified holdings + reinvested proceeds. Defaults to SPY trailing CAGR for the 3-year horizon if omitted."
          },
          "ticker": {
            "$ref": "#/components/schemas/Ticker"
          },
          "volatilityDrag": {
            "type": "number",
            "minimum": 0,
            "maximum": 0.99,
            "description": "Multiplicative haircut on the 3y stock-price path. Either this OR `volatility` is required for drag; if both are supplied, `volatilityDrag` wins."
          },
          "volatility": {
            "type": "number",
            "minimum": 0,
            "description": "Annualized volatility (sigma). Used for the closed-form option pricing hedging path AND, when `volatilityDrag` is omitted, derives drag = 1 - exp(-(sigma^2 / 2) * 3). Either this OR `volatilityDrag` is required for drag."
          },
          "hedgeChoice": {
            "type": "object",
            "required": [
              "kind",
              "protectionLevel",
              "tenorYears"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "put",
                  "collar"
                ]
              },
              "protectionLevel": {
                "type": "number",
                "minimum": 0.05,
                "maximum": 0.5
              },
              "tenorYears": {
                "type": "number",
                "minimum": 0.25
              },
              "upsideCapPct": {
                "type": "number"
              }
            }
          }
        }
      },
      "ProtectivePutInput": {
        "type": "object",
        "required": [
          "positionValue",
          "sector",
          "protectionLevel",
          "tenorYears"
        ],
        "properties": {
          "positionValue": {
            "type": "number",
            "minimum": 0
          },
          "sector": {
            "$ref": "#/components/schemas/SectorKey"
          },
          "volatility": {
            "type": "number",
            "minimum": 0,
            "description": "Annualized implied volatility (σ). Defaults to a sector-typical implied volatility when omitted."
          },
          "protectionLevel": {
            "type": "number",
            "minimum": 0.05,
            "maximum": 0.5,
            "description": "Drawdown the put protects against, as a fraction (e.g. 0.20 = 20% below current)."
          },
          "tenorYears": {
            "type": "number",
            "minimum": 0.25,
            "description": "Option tenor in years."
          },
          "expectedReturn": {
            "type": "number",
            "description": "Override sector long-run drift μ."
          },
          "spreadRiskLevel": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 0.2,
            "description": "Put spread floor breach risk: target probability the stock ends below the spread's short strike. Presets 0.20 / 0.10 / 0.05 / 0.01; off-preset values snap to the nearest. Affects only the putSpread block. Default 0.10."
          },
          "tickerLabel": {
            "type": "string",
            "description": "Optional ticker for warning copy (e.g. \"AAPL\")."
          },
          "ticker": {
            "type": "string",
            "description": "Optional public-stock symbol to derive implied volatility (e.g. \"AAPL\")."
          }
        }
      },
      "QsbsInput": {
        "type": "object",
        "required": [
          "acquisitionDate",
          "saleDate",
          "entityType",
          "acquisitionMethod",
          "assetCategory",
          "industry",
          "activeBusiness",
          "adjustedBasis",
          "expectedGain",
          "stateCode",
          "ordinaryIncome",
          "filingStatus"
        ],
        "properties": {
          "acquisitionDate": {
            "$ref": "#/components/schemas/IsoDate"
          },
          "saleDate": {
            "$ref": "#/components/schemas/IsoDate"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "us-c-corp",
              "other"
            ]
          },
          "acquisitionMethod": {
            "type": "string",
            "enum": [
              "original-issuance",
              "gift-or-inheritance",
              "secondary",
              "unsure"
            ]
          },
          "assetCategory": {
            "type": "string",
            "enum": [
              "under-50m",
              "50m-to-75m",
              "over-75m",
              "unsure"
            ]
          },
          "industry": {
            "type": "string",
            "enum": [
              "tech-software",
              "manufacturing",
              "biotech-research",
              "retail-wholesale",
              "health-services",
              "law",
              "engineering",
              "architecture",
              "accounting-actuarial",
              "consulting",
              "finance",
              "farming",
              "extraction",
              "hospitality",
              "performing-arts",
              "other-services",
              "unsure"
            ]
          },
          "activeBusiness": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "unsure"
            ]
          },
          "adjustedBasis": {
            "type": "number",
            "minimum": 0
          },
          "expectedGain": {
            "type": "number"
          },
          "stateCode": {
            "$ref": "#/components/schemas/StateCode"
          },
          "ordinaryIncome": {
            "type": "number",
            "minimum": 0
          },
          "filingStatus": {
            "$ref": "#/components/schemas/FilingStatus"
          }
        }
      },
      "EquityFundingInput": {
        "type": "object",
        "description": "Either `stacks` (v1.7+ multi-stack) OR legacy top-level `lots` + `currentPrice` (single-stack) must be provided.",
        "required": [
          "targetAfterTax",
          "targetDate",
          "ordinaryIncome",
          "filingStatus",
          "stateCode"
        ],
        "anyOf": [
          {
            "required": [
              "stacks"
            ]
          },
          {
            "required": [
              "lots",
              "currentPrice"
            ]
          }
        ],
        "properties": {
          "targetAfterTax": {
            "type": "number",
            "minimum": 0
          },
          "targetDate": {
            "$ref": "#/components/schemas/IsoDate"
          },
          "stacks": {
            "type": "array",
            "minItems": 1,
            "description": "v1.7+ multi-stack input. Each stack is one ticker.",
            "items": {
              "type": "object",
              "required": [
                "currentPrice",
                "lots"
              ],
              "properties": {
                "ticker": {
                  "type": "string",
                  "description": "Optional ticker label. When set without `expectedAnnualGrowth`, the server resolves growth from the trailing-CAGR table."
                },
                "currentPrice": {
                  "type": "number",
                  "minimum": 0
                },
                "expectedAnnualGrowth": {
                  "type": "number"
                },
                "volatility": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Per-stack annualized σ. Overrides `defaultVolatility` for this stack."
                },
                "lots": {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "required": [
                      "shares",
                      "costBasisPerShare",
                      "acquisitionDate"
                    ],
                    "properties": {
                      "shares": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "costBasisPerShare": {
                        "type": "number",
                        "minimum": 0
                      },
                      "acquisitionDate": {
                        "$ref": "#/components/schemas/IsoDate"
                      },
                      "vestDate": {
                        "$ref": "#/components/schemas/IsoDate",
                        "description": "Optional. Future vest date for unvested RSU tranches; excluded from sales whose date precedes this."
                      }
                    }
                  }
                }
              }
            }
          },
          "lots": {
            "type": "array",
            "minItems": 1,
            "description": "Legacy single-stack input (v1.5 / v1.6). Pair with top-level currentPrice.",
            "items": {
              "type": "object",
              "required": [
                "shares",
                "costBasisPerShare",
                "acquisitionDate"
              ],
              "properties": {
                "shares": {
                  "type": "integer",
                  "minimum": 1
                },
                "costBasisPerShare": {
                  "type": "number",
                  "minimum": 0
                },
                "acquisitionDate": {
                  "$ref": "#/components/schemas/IsoDate"
                }
              }
            }
          },
          "currentPrice": {
            "type": "number",
            "minimum": 0,
            "description": "Legacy single-stack current share price."
          },
          "expectedAnnualGrowth": {
            "type": "number",
            "description": "Legacy single-stack annual growth decimal."
          },
          "ordinaryIncome": {
            "type": "number",
            "minimum": 0
          },
          "filingStatus": {
            "$ref": "#/components/schemas/FilingStatus"
          },
          "stateCode": {
            "$ref": "#/components/schemas/StateCode"
          },
          "cashInterestRate": {
            "type": "number",
            "description": "Annualized pre-tax yield on cash held between each sale and the target date. The server compounds at the after-tax marginal rate. Defaults to 0."
          },
          "riskToleranceShortfall": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Max acceptable P(realized cash < target) under the lognormal price model. The `recommended` plan is the wealth-maximal plan whose shortfall is at or below this value. Default 0.10."
          },
          "defaultVolatility": {
            "type": "number",
            "minimum": 0,
            "description": "Annualized σ used for stacks that omit their own `volatility`. Default 0.30."
          }
        }
      },
      "AmtIsoResult": {
        "type": "object",
        "description": "ISO/AMT exercise optimization result. All dollar amounts are USD.",
        "properties": {
          "crossoverShares": {
            "type": "integer",
            "description": "Maximum whole shares exercisable in year 1 before federal AMT exceeds regular tax (the AMT crossover)."
          },
          "crossoverBargain": {
            "type": "number",
            "description": "Bargain element in dollars at the crossover share count: crossoverShares x (fmv - strike)."
          },
          "alreadyInAmt": {
            "type": "boolean",
            "description": "True when the user owes AMT even with zero exercise (regular tax below tentative minimum tax at baseline income)."
          },
          "schedules": {
            "type": "object",
            "description": "The three candidate exercise schedules, each evaluated at the effective horizon. Compare nfv across them; optimized is the recommended plan.",
            "properties": {
              "lumpSum": {
                "type": "object",
                "description": "Exercise all shares in year 1.",
                "properties": {
                  "label": {
                    "type": "string",
                    "enum": [
                      "lump_sum",
                      "even_split",
                      "optimized"
                    ],
                    "description": "Which candidate plan this schedule represents."
                  },
                  "years": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Exercise and tax detail for one calendar year of the schedule.",
                      "properties": {
                        "year": {
                          "type": "integer",
                          "description": "Schedule year, 1-indexed (1 = current year)."
                        },
                        "shares": {
                          "type": "number",
                          "description": "ISO shares exercised this year."
                        },
                        "bargain": {
                          "type": "number",
                          "description": "Bargain element recognized this year in dollars: shares x (projected FMV - strike)."
                        },
                        "regularFederal": {
                          "type": "number",
                          "description": "Regular federal income tax for the year in dollars (ordinary income only, before AMT)."
                        },
                        "regularState": {
                          "type": "number",
                          "description": "Regular state income tax for the year in dollars."
                        },
                        "tmtFederal": {
                          "type": "number",
                          "description": "Federal tentative minimum tax for the year in dollars."
                        },
                        "tmtState": {
                          "type": "number",
                          "description": "State tentative minimum tax for the year in dollars (0 in states without AMT)."
                        },
                        "amtOwedFederal": {
                          "type": "number",
                          "description": "Federal AMT owed above regular tax this year in dollars."
                        },
                        "amtOwedState": {
                          "type": "number",
                          "description": "State AMT owed above regular state tax this year in dollars."
                        },
                        "creditRecovered": {
                          "type": "number",
                          "description": "Federal AMT credit applied (recovered) this year in dollars."
                        },
                        "cashTax": {
                          "type": "number",
                          "description": "Total cash tax paid this year in dollars: federal + state, net of credit recovery."
                        }
                      },
                      "required": [
                        "year",
                        "shares",
                        "bargain",
                        "regularFederal",
                        "regularState",
                        "tmtFederal",
                        "tmtState",
                        "amtOwedFederal",
                        "amtOwedState",
                        "creditRecovered",
                        "cashTax"
                      ]
                    },
                    "description": "Per-year detail, one entry per year of the effective horizon."
                  },
                  "totalTax": {
                    "type": "number",
                    "description": "Total cash tax paid across the horizon in dollars."
                  },
                  "baselineRegularTax": {
                    "type": "number",
                    "description": "Tax owed with no exercise at all (regular federal + state on ordinary income, summed across the horizon) in dollars."
                  },
                  "exerciseTax": {
                    "type": "number",
                    "description": "totalTax minus baselineRegularTax: the marginal tax cost of exercising, in dollars."
                  },
                  "creditEarned": {
                    "type": "number",
                    "description": "Federal AMT credit generated across the horizon in dollars."
                  },
                  "creditRecovered": {
                    "type": "number",
                    "description": "Federal AMT credit recovered across the horizon in dollars."
                  },
                  "creditRemaining": {
                    "type": "number",
                    "description": "Federal AMT credit still unrecovered at the horizon in dollars."
                  },
                  "grossGain": {
                    "type": "number",
                    "description": "shares x (projected FMV at horizon - strike): the LTCG-eligible gain in dollars."
                  },
                  "federalLTCG": {
                    "type": "number",
                    "description": "Federal long-term capital gains tax (including NIIT) on grossGain in dollars."
                  },
                  "stateLTCG": {
                    "type": "number",
                    "description": "State long-term capital gains tax on grossGain in dollars."
                  },
                  "amtPremiumFV": {
                    "type": "number",
                    "description": "Future-valued AMT premium stream (exercise tax paid above the no-exercise baseline, compounded at cashReturnRate to the horizon) in dollars."
                  },
                  "nfv": {
                    "type": "number",
                    "description": "After-tax Net Final Value at the horizon in dollars: grossGain - federalLTCG - stateLTCG - amtPremiumFV. The headline number to report."
                  }
                },
                "required": [
                  "label",
                  "years",
                  "totalTax",
                  "baselineRegularTax",
                  "exerciseTax",
                  "creditEarned",
                  "creditRecovered",
                  "creditRemaining",
                  "grossGain",
                  "federalLTCG",
                  "stateLTCG",
                  "amtPremiumFV",
                  "nfv"
                ]
              },
              "evenSplit": {
                "type": "object",
                "description": "Exercise shares/horizon shares each year.",
                "properties": {
                  "label": {
                    "type": "string",
                    "enum": [
                      "lump_sum",
                      "even_split",
                      "optimized"
                    ],
                    "description": "Which candidate plan this schedule represents."
                  },
                  "years": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Exercise and tax detail for one calendar year of the schedule.",
                      "properties": {
                        "year": {
                          "type": "integer",
                          "description": "Schedule year, 1-indexed (1 = current year)."
                        },
                        "shares": {
                          "type": "number",
                          "description": "ISO shares exercised this year."
                        },
                        "bargain": {
                          "type": "number",
                          "description": "Bargain element recognized this year in dollars: shares x (projected FMV - strike)."
                        },
                        "regularFederal": {
                          "type": "number",
                          "description": "Regular federal income tax for the year in dollars (ordinary income only, before AMT)."
                        },
                        "regularState": {
                          "type": "number",
                          "description": "Regular state income tax for the year in dollars."
                        },
                        "tmtFederal": {
                          "type": "number",
                          "description": "Federal tentative minimum tax for the year in dollars."
                        },
                        "tmtState": {
                          "type": "number",
                          "description": "State tentative minimum tax for the year in dollars (0 in states without AMT)."
                        },
                        "amtOwedFederal": {
                          "type": "number",
                          "description": "Federal AMT owed above regular tax this year in dollars."
                        },
                        "amtOwedState": {
                          "type": "number",
                          "description": "State AMT owed above regular state tax this year in dollars."
                        },
                        "creditRecovered": {
                          "type": "number",
                          "description": "Federal AMT credit applied (recovered) this year in dollars."
                        },
                        "cashTax": {
                          "type": "number",
                          "description": "Total cash tax paid this year in dollars: federal + state, net of credit recovery."
                        }
                      },
                      "required": [
                        "year",
                        "shares",
                        "bargain",
                        "regularFederal",
                        "regularState",
                        "tmtFederal",
                        "tmtState",
                        "amtOwedFederal",
                        "amtOwedState",
                        "creditRecovered",
                        "cashTax"
                      ]
                    },
                    "description": "Per-year detail, one entry per year of the effective horizon."
                  },
                  "totalTax": {
                    "type": "number",
                    "description": "Total cash tax paid across the horizon in dollars."
                  },
                  "baselineRegularTax": {
                    "type": "number",
                    "description": "Tax owed with no exercise at all (regular federal + state on ordinary income, summed across the horizon) in dollars."
                  },
                  "exerciseTax": {
                    "type": "number",
                    "description": "totalTax minus baselineRegularTax: the marginal tax cost of exercising, in dollars."
                  },
                  "creditEarned": {
                    "type": "number",
                    "description": "Federal AMT credit generated across the horizon in dollars."
                  },
                  "creditRecovered": {
                    "type": "number",
                    "description": "Federal AMT credit recovered across the horizon in dollars."
                  },
                  "creditRemaining": {
                    "type": "number",
                    "description": "Federal AMT credit still unrecovered at the horizon in dollars."
                  },
                  "grossGain": {
                    "type": "number",
                    "description": "shares x (projected FMV at horizon - strike): the LTCG-eligible gain in dollars."
                  },
                  "federalLTCG": {
                    "type": "number",
                    "description": "Federal long-term capital gains tax (including NIIT) on grossGain in dollars."
                  },
                  "stateLTCG": {
                    "type": "number",
                    "description": "State long-term capital gains tax on grossGain in dollars."
                  },
                  "amtPremiumFV": {
                    "type": "number",
                    "description": "Future-valued AMT premium stream (exercise tax paid above the no-exercise baseline, compounded at cashReturnRate to the horizon) in dollars."
                  },
                  "nfv": {
                    "type": "number",
                    "description": "After-tax Net Final Value at the horizon in dollars: grossGain - federalLTCG - stateLTCG - amtPremiumFV. The headline number to report."
                  }
                },
                "required": [
                  "label",
                  "years",
                  "totalTax",
                  "baselineRegularTax",
                  "exerciseTax",
                  "creditEarned",
                  "creditRecovered",
                  "creditRemaining",
                  "grossGain",
                  "federalLTCG",
                  "stateLTCG",
                  "amtPremiumFV",
                  "nfv"
                ]
              },
              "optimized": {
                "type": "object",
                "description": "The NFV-maximal per-year allocation found by the optimizer. The recommended plan.",
                "properties": {
                  "label": {
                    "type": "string",
                    "enum": [
                      "lump_sum",
                      "even_split",
                      "optimized"
                    ],
                    "description": "Which candidate plan this schedule represents."
                  },
                  "years": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Exercise and tax detail for one calendar year of the schedule.",
                      "properties": {
                        "year": {
                          "type": "integer",
                          "description": "Schedule year, 1-indexed (1 = current year)."
                        },
                        "shares": {
                          "type": "number",
                          "description": "ISO shares exercised this year."
                        },
                        "bargain": {
                          "type": "number",
                          "description": "Bargain element recognized this year in dollars: shares x (projected FMV - strike)."
                        },
                        "regularFederal": {
                          "type": "number",
                          "description": "Regular federal income tax for the year in dollars (ordinary income only, before AMT)."
                        },
                        "regularState": {
                          "type": "number",
                          "description": "Regular state income tax for the year in dollars."
                        },
                        "tmtFederal": {
                          "type": "number",
                          "description": "Federal tentative minimum tax for the year in dollars."
                        },
                        "tmtState": {
                          "type": "number",
                          "description": "State tentative minimum tax for the year in dollars (0 in states without AMT)."
                        },
                        "amtOwedFederal": {
                          "type": "number",
                          "description": "Federal AMT owed above regular tax this year in dollars."
                        },
                        "amtOwedState": {
                          "type": "number",
                          "description": "State AMT owed above regular state tax this year in dollars."
                        },
                        "creditRecovered": {
                          "type": "number",
                          "description": "Federal AMT credit applied (recovered) this year in dollars."
                        },
                        "cashTax": {
                          "type": "number",
                          "description": "Total cash tax paid this year in dollars: federal + state, net of credit recovery."
                        }
                      },
                      "required": [
                        "year",
                        "shares",
                        "bargain",
                        "regularFederal",
                        "regularState",
                        "tmtFederal",
                        "tmtState",
                        "amtOwedFederal",
                        "amtOwedState",
                        "creditRecovered",
                        "cashTax"
                      ]
                    },
                    "description": "Per-year detail, one entry per year of the effective horizon."
                  },
                  "totalTax": {
                    "type": "number",
                    "description": "Total cash tax paid across the horizon in dollars."
                  },
                  "baselineRegularTax": {
                    "type": "number",
                    "description": "Tax owed with no exercise at all (regular federal + state on ordinary income, summed across the horizon) in dollars."
                  },
                  "exerciseTax": {
                    "type": "number",
                    "description": "totalTax minus baselineRegularTax: the marginal tax cost of exercising, in dollars."
                  },
                  "creditEarned": {
                    "type": "number",
                    "description": "Federal AMT credit generated across the horizon in dollars."
                  },
                  "creditRecovered": {
                    "type": "number",
                    "description": "Federal AMT credit recovered across the horizon in dollars."
                  },
                  "creditRemaining": {
                    "type": "number",
                    "description": "Federal AMT credit still unrecovered at the horizon in dollars."
                  },
                  "grossGain": {
                    "type": "number",
                    "description": "shares x (projected FMV at horizon - strike): the LTCG-eligible gain in dollars."
                  },
                  "federalLTCG": {
                    "type": "number",
                    "description": "Federal long-term capital gains tax (including NIIT) on grossGain in dollars."
                  },
                  "stateLTCG": {
                    "type": "number",
                    "description": "State long-term capital gains tax on grossGain in dollars."
                  },
                  "amtPremiumFV": {
                    "type": "number",
                    "description": "Future-valued AMT premium stream (exercise tax paid above the no-exercise baseline, compounded at cashReturnRate to the horizon) in dollars."
                  },
                  "nfv": {
                    "type": "number",
                    "description": "After-tax Net Final Value at the horizon in dollars: grossGain - federalLTCG - stateLTCG - amtPremiumFV. The headline number to report."
                  }
                },
                "required": [
                  "label",
                  "years",
                  "totalTax",
                  "baselineRegularTax",
                  "exerciseTax",
                  "creditEarned",
                  "creditRecovered",
                  "creditRemaining",
                  "grossGain",
                  "federalLTCG",
                  "stateLTCG",
                  "amtPremiumFV",
                  "nfv"
                ]
              }
            },
            "required": [
              "lumpSum",
              "evenSplit",
              "optimized"
            ]
          },
          "stateHasAmt": {
            "type": "boolean",
            "description": "True when the user state levies its own AMT (CA, CO, CT, MN)."
          },
          "bargainPerShare": {
            "type": "number",
            "description": "Year-1 bargain element per share in dollars: max(0, fmv - strike)."
          },
          "timing": {
            "type": "object",
            "description": "Timing constraints derived from grantDate and (when departed) terminationDate.",
            "properties": {
              "grantExpiration": {
                "type": "string",
                "description": "Grant expiration date: grantDate + 10 years (IRC 422 maximum ISO term). ISO 8601 date-time string."
              },
              "qdEligibleDate": {
                "type": "string",
                "description": "Earliest qualifying-disposition date measured from grant: grantDate + 2 years. ISO 8601 date-time string."
              },
              "exerciseWindowClose": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Post-termination exercise deadline (terminationDate + 90 days) as an ISO 8601 date-time string; null while still employed."
              },
              "maxHorizon": {
                "type": "integer",
                "description": "Maximum usable planning horizon in years (1..10), capped by grant expiration or the post-termination window."
              },
              "daysUntilWindowClose": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Days until the post-termination exercise window closes (can be negative when already past); null while still employed."
              },
              "windowClosed": {
                "type": "boolean",
                "description": "True when the user departed and the 90-day exercise deadline has already passed."
              },
              "qdNotYetEligible": {
                "type": "boolean",
                "description": "True when grantDate + 2 years is still in the future (a sale today could not be a qualifying disposition)."
              }
            },
            "required": [
              "grantExpiration",
              "qdEligibleDate",
              "exerciseWindowClose",
              "maxHorizon",
              "daysUntilWindowClose",
              "windowClosed",
              "qdNotYetEligible"
            ]
          },
          "effectiveHorizon": {
            "type": "integer",
            "description": "Horizon actually used by the schedules: min(requested horizon, timing.maxHorizon)."
          },
          "departedRecommendation": {
            "type": "object",
            "description": "Present only when hasLeftCompany=true and the 90-day post-termination window is still open: the partial-exercise quantity that maximizes expected after-tax value.",
            "properties": {
              "recommendedShares": {
                "type": "integer",
                "description": "Optimal share count to exercise within the window."
              },
              "recommendedExerciseTax": {
                "type": "number",
                "description": "AMT cost in dollars at the recommended share count."
              },
              "recommendedNetValue": {
                "type": "number",
                "description": "Expected after-tax value in dollars at the hold horizon for the recommended count."
              },
              "fullExerciseShares": {
                "type": "integer",
                "description": "Total shares available (the exercise-everything alternative)."
              },
              "fullExerciseTax": {
                "type": "number",
                "description": "AMT cost in dollars of exercising all shares."
              },
              "fullExerciseNetValue": {
                "type": "number",
                "description": "Expected after-tax value in dollars at the hold horizon if all shares are exercised."
              },
              "holdYears": {
                "type": "number",
                "description": "Post-exercise hold horizon in years used for the comparison."
              },
              "futureFmvPerShare": {
                "type": "number",
                "description": "Projected FMV per share in dollars at the hold horizon."
              },
              "recommendedSchedule": {
                "type": "object",
                "description": "Year-by-year tax schedule for the recommended share count.",
                "properties": {
                  "label": {
                    "type": "string",
                    "enum": [
                      "lump_sum",
                      "even_split",
                      "optimized"
                    ],
                    "description": "Which candidate plan this schedule represents."
                  },
                  "years": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Exercise and tax detail for one calendar year of the schedule.",
                      "properties": {
                        "year": {
                          "type": "integer",
                          "description": "Schedule year, 1-indexed (1 = current year)."
                        },
                        "shares": {
                          "type": "number",
                          "description": "ISO shares exercised this year."
                        },
                        "bargain": {
                          "type": "number",
                          "description": "Bargain element recognized this year in dollars: shares x (projected FMV - strike)."
                        },
                        "regularFederal": {
                          "type": "number",
                          "description": "Regular federal income tax for the year in dollars (ordinary income only, before AMT)."
                        },
                        "regularState": {
                          "type": "number",
                          "description": "Regular state income tax for the year in dollars."
                        },
                        "tmtFederal": {
                          "type": "number",
                          "description": "Federal tentative minimum tax for the year in dollars."
                        },
                        "tmtState": {
                          "type": "number",
                          "description": "State tentative minimum tax for the year in dollars (0 in states without AMT)."
                        },
                        "amtOwedFederal": {
                          "type": "number",
                          "description": "Federal AMT owed above regular tax this year in dollars."
                        },
                        "amtOwedState": {
                          "type": "number",
                          "description": "State AMT owed above regular state tax this year in dollars."
                        },
                        "creditRecovered": {
                          "type": "number",
                          "description": "Federal AMT credit applied (recovered) this year in dollars."
                        },
                        "cashTax": {
                          "type": "number",
                          "description": "Total cash tax paid this year in dollars: federal + state, net of credit recovery."
                        }
                      },
                      "required": [
                        "year",
                        "shares",
                        "bargain",
                        "regularFederal",
                        "regularState",
                        "tmtFederal",
                        "tmtState",
                        "amtOwedFederal",
                        "amtOwedState",
                        "creditRecovered",
                        "cashTax"
                      ]
                    },
                    "description": "Per-year detail, one entry per year of the effective horizon."
                  },
                  "totalTax": {
                    "type": "number",
                    "description": "Total cash tax paid across the horizon in dollars."
                  },
                  "baselineRegularTax": {
                    "type": "number",
                    "description": "Tax owed with no exercise at all (regular federal + state on ordinary income, summed across the horizon) in dollars."
                  },
                  "exerciseTax": {
                    "type": "number",
                    "description": "totalTax minus baselineRegularTax: the marginal tax cost of exercising, in dollars."
                  },
                  "creditEarned": {
                    "type": "number",
                    "description": "Federal AMT credit generated across the horizon in dollars."
                  },
                  "creditRecovered": {
                    "type": "number",
                    "description": "Federal AMT credit recovered across the horizon in dollars."
                  },
                  "creditRemaining": {
                    "type": "number",
                    "description": "Federal AMT credit still unrecovered at the horizon in dollars."
                  },
                  "grossGain": {
                    "type": "number",
                    "description": "shares x (projected FMV at horizon - strike): the LTCG-eligible gain in dollars."
                  },
                  "federalLTCG": {
                    "type": "number",
                    "description": "Federal long-term capital gains tax (including NIIT) on grossGain in dollars."
                  },
                  "stateLTCG": {
                    "type": "number",
                    "description": "State long-term capital gains tax on grossGain in dollars."
                  },
                  "amtPremiumFV": {
                    "type": "number",
                    "description": "Future-valued AMT premium stream (exercise tax paid above the no-exercise baseline, compounded at cashReturnRate to the horizon) in dollars."
                  },
                  "nfv": {
                    "type": "number",
                    "description": "After-tax Net Final Value at the horizon in dollars: grossGain - federalLTCG - stateLTCG - amtPremiumFV. The headline number to report."
                  }
                },
                "required": [
                  "label",
                  "years",
                  "totalTax",
                  "baselineRegularTax",
                  "exerciseTax",
                  "creditEarned",
                  "creditRecovered",
                  "creditRemaining",
                  "grossGain",
                  "federalLTCG",
                  "stateLTCG",
                  "amtPremiumFV",
                  "nfv"
                ]
              },
              "curve": {
                "type": "array",
                "description": "Share-count vs after-tax-value curve sampled uniformly across [0, total shares], for charting.",
                "items": {
                  "type": "object",
                  "properties": {
                    "shares": {
                      "type": "number",
                      "description": "Exercised share count at this sample point."
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Expected after-tax value in dollars at this share count."
                    },
                    "exerciseTax": {
                      "type": "number",
                      "description": "AMT cost in dollars at this share count."
                    }
                  },
                  "required": [
                    "shares",
                    "netValue",
                    "exerciseTax"
                  ]
                }
              }
            },
            "required": [
              "recommendedShares",
              "recommendedExerciseTax",
              "recommendedNetValue",
              "fullExerciseShares",
              "fullExerciseTax",
              "fullExerciseNetValue",
              "holdYears",
              "futureFmvPerShare",
              "recommendedSchedule",
              "curve"
            ]
          }
        },
        "required": [
          "crossoverShares",
          "crossoverBargain",
          "alreadyInAmt",
          "schedules",
          "stateHasAmt",
          "bargainPerShare",
          "timing",
          "effectiveHorizon"
        ]
      },
      "NsoResult": {
        "type": "object",
        "description": "NSO exercise sell-vs-hold result. All dollar amounts are USD.",
        "properties": {
          "exercise": {
            "type": "object",
            "description": "Tax bill at exercise on the bargain element (taxed as ordinary W-2 income).",
            "properties": {
              "bargainElement": {
                "type": "number",
                "description": "shares x (currentPrice - strike) in dollars, taxed as ordinary income at exercise."
              },
              "federal": {
                "type": "number",
                "description": "Federal ordinary income tax on the bargain element in dollars."
              },
              "state": {
                "type": "number",
                "description": "State income tax on the bargain element in dollars."
              },
              "socialSecurity": {
                "type": "number",
                "description": "Social Security tax in dollars (0 when not employed or already past the wage base)."
              },
              "medicare": {
                "type": "number",
                "description": "Medicare tax in dollars."
              },
              "additionalMedicare": {
                "type": "number",
                "description": "Additional Medicare (0.9%) tax in dollars."
              },
              "total": {
                "type": "number",
                "description": "Total tax at exercise in dollars."
              },
              "netCashSellAll": {
                "type": "number",
                "description": "bargainElement - total: net cash in dollars if every share is sold at exercise."
              }
            },
            "required": [
              "bargainElement",
              "federal",
              "state",
              "socialSecurity",
              "medicare",
              "additionalMedicare",
              "total",
              "netCashSellAll"
            ]
          },
          "bracketJump": {
            "type": [
              "object",
              "null"
            ],
            "description": "Marginal federal bracket change caused by the new ordinary income; null when the income stays within one bracket.",
            "properties": {
              "fromRate": {
                "type": "number",
                "description": "Marginal federal rate before the event, as a decimal (0.24 = 24%)."
              },
              "toRate": {
                "type": "number",
                "description": "Marginal federal rate after the event, as a decimal."
              },
              "thresholdAtJump": {
                "type": "number",
                "description": "Taxable-income threshold in dollars where the bracket changes."
              }
            },
            "required": [
              "fromRate",
              "toRate",
              "thresholdAtJump"
            ]
          },
          "hold": {
            "type": "object",
            "description": "Exercise now and hold the shares holdYears for long-term capital gains treatment.",
            "properties": {
              "funding": {
                "type": "string",
                "enum": [
                  "sell-to-cover",
                  "cash"
                ],
                "description": "How strike cost and exercise tax are funded (echo of holdFunding)."
              },
              "costBasis": {
                "type": "number",
                "description": "Cost basis per share in dollars (the FMV at exercise)."
              },
              "strikeCost": {
                "type": "number",
                "description": "Total strike cost in dollars: shares x strike."
              },
              "cashNeededAtExercise": {
                "type": "number",
                "description": "Outside cash required at exercise in dollars (strike + tax under cash funding; 0 under sell-to-cover)."
              },
              "sharesSoldToCover": {
                "type": "number",
                "description": "Shares sold at exercise to cover strike + tax (sell-to-cover only; 0 in cash mode)."
              },
              "sharesRetained": {
                "type": "number",
                "description": "Shares still held after funding the exercise."
              },
              "effectiveSalePrice": {
                "type": "number",
                "description": "Projected sale price per share in dollars at end of holdYears, after the volatility haircut."
              },
              "expectedGain": {
                "type": "number",
                "description": "Expected capital gain in dollars on the retained shares at sale."
              },
              "ltcgFederal": {
                "type": "number",
                "description": "Federal long-term capital gains tax (including NIIT) on the gain in dollars."
              },
              "ltcgState": {
                "type": "number",
                "description": "State capital gains tax on the gain in dollars."
              },
              "ltcgTotal": {
                "type": "number",
                "description": "Total capital gains tax at sale in dollars."
              },
              "afterTaxProceedsAtSale": {
                "type": "number",
                "description": "After-tax sale proceeds in dollars at end of holdYears."
              },
              "y0OutflowGain": {
                "type": "number",
                "description": "Opportunity-cost gain in dollars the year-0 cash outflow would have earned at the market rate (cash funding only; 0 for sell-to-cover)."
              },
              "y0OutflowLtcgFederal": {
                "type": "number",
                "description": "Federal capital gains tax in dollars on the forgone market gain (cash funding only)."
              },
              "y0OutflowLtcgState": {
                "type": "number",
                "description": "State capital gains tax in dollars on the forgone market gain (cash funding only)."
              },
              "y0OutflowLtcgTotal": {
                "type": "number",
                "description": "Total capital gains tax in dollars on the forgone market gain (cash funding only)."
              },
              "y0OutflowForgoneNet": {
                "type": "number",
                "description": "After-tax market growth forgone in dollars by spending cash at exercise: y0OutflowGain - y0OutflowLtcgTotal."
              },
              "netAtYearN": {
                "type": "number",
                "description": "Net after-tax value of the hold strategy in dollars at end of holdYears (after subtracting forgone market growth)."
              }
            },
            "required": [
              "funding",
              "costBasis",
              "strikeCost",
              "cashNeededAtExercise",
              "sharesSoldToCover",
              "sharesRetained",
              "effectiveSalePrice",
              "expectedGain",
              "ltcgFederal",
              "ltcgState",
              "ltcgTotal",
              "afterTaxProceedsAtSale",
              "y0OutflowGain",
              "y0OutflowLtcgFederal",
              "y0OutflowLtcgState",
              "y0OutflowLtcgTotal",
              "y0OutflowForgoneNet",
              "netAtYearN"
            ]
          },
          "sellNowInvest": {
            "type": "object",
            "description": "Counterfactual: sell every share at exercise and reinvest the net cash at expectedMarketReturn for holdYears.",
            "properties": {
              "netCashAtY0": {
                "type": "number",
                "description": "Net cash in dollars after exercise tax, available to reinvest."
              },
              "marketGain": {
                "type": "number",
                "description": "Market growth in dollars on the reinvested cash over holdYears."
              },
              "ltcgFederal": {
                "type": "number",
                "description": "Federal capital gains tax (including NIIT) in dollars on the market gain at the horizon."
              },
              "ltcgState": {
                "type": "number",
                "description": "State capital gains tax in dollars on the market gain."
              },
              "ltcgTotal": {
                "type": "number",
                "description": "Total capital gains tax in dollars on the market gain."
              },
              "netAtYearN": {
                "type": "number",
                "description": "Net after-tax value of sell-now-and-invest in dollars at end of holdYears."
              }
            },
            "required": [
              "netCashAtY0",
              "marketGain",
              "ltcgFederal",
              "ltcgState",
              "ltcgTotal",
              "netAtYearN"
            ]
          },
          "holdMinusCashless": {
            "type": "number",
            "description": "hold.netAtYearN - sellNowInvest.netAtYearN in dollars. Positive favors holding the shares; negative favors selling at exercise and reinvesting."
          }
        },
        "required": [
          "exercise",
          "bracketJump",
          "hold",
          "sellNowInvest",
          "holdMinusCashless"
        ]
      },
      "RsuResult": {
        "type": "object",
        "description": "RSU sell-at-vest vs hold result. All dollar amounts are USD.",
        "properties": {
          "vest": {
            "type": "object",
            "description": "Tax bill at vest on the full vest value (taxed as ordinary W-2 income).",
            "properties": {
              "vestValue": {
                "type": "number",
                "description": "shares x currentPrice in dollars, taxed as ordinary income at vest."
              },
              "federal": {
                "type": "number",
                "description": "True federal ordinary income tax on the vest value in dollars (marginal bracket, not the withholding)."
              },
              "state": {
                "type": "number",
                "description": "State income tax on the vest value in dollars."
              },
              "socialSecurity": {
                "type": "number",
                "description": "Social Security tax in dollars (0 when not employed or already past the wage base)."
              },
              "medicare": {
                "type": "number",
                "description": "Medicare tax in dollars."
              },
              "additionalMedicare": {
                "type": "number",
                "description": "Additional Medicare (0.9%) tax in dollars."
              },
              "total": {
                "type": "number",
                "description": "Total tax at vest in dollars."
              },
              "netCashAtVest": {
                "type": "number",
                "description": "vestValue - total: net cash in dollars if every share is sold at vest."
              },
              "federalWithheldAtVest": {
                "type": "number",
                "description": "Mandatory federal supplemental withholding in dollars (22% on the first $1M of supplemental wages, 37% above). When less than vest.federal, the difference is owed at tax time."
              }
            },
            "required": [
              "vestValue",
              "federal",
              "state",
              "socialSecurity",
              "medicare",
              "additionalMedicare",
              "total",
              "netCashAtVest",
              "federalWithheldAtVest"
            ]
          },
          "bracketJump": {
            "type": [
              "object",
              "null"
            ],
            "description": "Marginal federal bracket change caused by the new ordinary income; null when the income stays within one bracket.",
            "properties": {
              "fromRate": {
                "type": "number",
                "description": "Marginal federal rate before the event, as a decimal (0.24 = 24%)."
              },
              "toRate": {
                "type": "number",
                "description": "Marginal federal rate after the event, as a decimal."
              },
              "thresholdAtJump": {
                "type": "number",
                "description": "Taxable-income threshold in dollars where the bracket changes."
              }
            },
            "required": [
              "fromRate",
              "toRate",
              "thresholdAtJump"
            ]
          },
          "hold": {
            "type": "object",
            "description": "Keep the after-tax shares for holdYears, then sell.",
            "properties": {
              "costBasis": {
                "type": "number",
                "description": "Cost basis per share in dollars (FMV at vest)."
              },
              "effectiveSalePrice": {
                "type": "number",
                "description": "Projected sale price per share in dollars at end of holdYears, after the volatility haircut."
              },
              "sharesRetained": {
                "type": "number",
                "description": "Shares kept after the sell-to-cover dollar-equivalent of the vest tax."
              },
              "expectedGain": {
                "type": "number",
                "description": "Expected capital gain in dollars on the retained shares: (effectiveSalePrice - costBasis) x sharesRetained."
              },
              "capGainFederal": {
                "type": "number",
                "description": "Federal capital gains tax in dollars on the gain: LTCG (including NIIT) when isLongTerm, else the marginal ordinary rate."
              },
              "capGainState": {
                "type": "number",
                "description": "State capital gains tax in dollars on the gain."
              },
              "capGainTotal": {
                "type": "number",
                "description": "Total capital gains tax in dollars at sale."
              },
              "isLongTerm": {
                "type": "boolean",
                "description": "True when holdYears >= 1, so appreciation gets long-term capital gains treatment."
              },
              "netAtYearN": {
                "type": "number",
                "description": "Net after-tax value of holding in dollars at end of holdYears: sale proceeds - capGainTotal."
              }
            },
            "required": [
              "costBasis",
              "effectiveSalePrice",
              "sharesRetained",
              "expectedGain",
              "capGainFederal",
              "capGainState",
              "capGainTotal",
              "isLongTerm",
              "netAtYearN"
            ]
          },
          "sellNowInvest": {
            "type": "object",
            "description": "Counterfactual: sell every share at vest and reinvest the net cash at expectedMarketReturn for holdYears.",
            "properties": {
              "netCashAtY0": {
                "type": "number",
                "description": "Net cash in dollars at vest available to reinvest (equals vest.netCashAtVest)."
              },
              "marketGain": {
                "type": "number",
                "description": "Market growth in dollars on the reinvested cash over holdYears."
              },
              "capGainFederal": {
                "type": "number",
                "description": "Federal capital gains tax in dollars on the market gain: LTCG (including NIIT) when isLongTerm, else the marginal ordinary rate."
              },
              "capGainState": {
                "type": "number",
                "description": "State capital gains tax in dollars on the market gain."
              },
              "capGainTotal": {
                "type": "number",
                "description": "Total capital gains tax in dollars on the market gain."
              },
              "isLongTerm": {
                "type": "boolean",
                "description": "True when holdYears >= 1."
              },
              "netAtYearN": {
                "type": "number",
                "description": "Net after-tax value of sell-at-vest-and-invest in dollars at end of holdYears."
              }
            },
            "required": [
              "netCashAtY0",
              "marketGain",
              "capGainFederal",
              "capGainState",
              "capGainTotal",
              "isLongTerm",
              "netAtYearN"
            ]
          },
          "holdMinusSell": {
            "type": "number",
            "description": "hold.netAtYearN - sellNowInvest.netAtYearN in dollars. Positive favors holding the vested shares; negative favors selling at vest and reinvesting."
          }
        },
        "required": [
          "vest",
          "bracketJump",
          "hold",
          "sellNowInvest",
          "holdMinusSell"
        ]
      },
      "ConcentrationResult": {
        "type": "object",
        "description": "Single-stock concentration analysis. All dollar amounts are USD.",
        "properties": {
          "concentration": {
            "type": "number",
            "description": "Position value / total assets, 0..1."
          },
          "riskBand": {
            "type": "string",
            "enum": [
              "Low",
              "Moderate",
              "Concentrated",
              "Highly concentrated",
              "Extreme"
            ],
            "description": "Qualitative concentration band for the position weight."
          },
          "isLongTermToday": {
            "type": "boolean",
            "description": "True when the position already qualifies for long-term capital gains treatment."
          },
          "longTermDate": {
            "type": "string",
            "description": "Date the position turns long-term (acquisitionDate + 1 year). ISO 8601 date-time string."
          },
          "daysUntilLongTerm": {
            "type": "number",
            "description": "Days until long-term treatment; 0 when already long-term."
          },
          "lossExposure": {
            "type": "array",
            "description": "Dollar damage at 30/50/70% single-stock drawdowns.",
            "items": {
              "type": "object",
              "properties": {
                "drop": {
                  "type": "number",
                  "description": "Modeled drawdown as a fraction of position value (0.30, 0.50, 0.70)."
                },
                "dollarLoss": {
                  "type": "number",
                  "description": "Dollars lost at this drawdown."
                },
                "newConcentration": {
                  "type": "number",
                  "description": "Portfolio concentration (0..1) after the drawdown."
                }
              },
              "required": [
                "drop",
                "dollarLoss",
                "newConcentration"
              ]
            }
          },
          "waitForLtInsight": {
            "type": [
              "object",
              "null"
            ],
            "description": "Tax saved by waiting for long-term treatment before selling; null when already long-term or no sale is needed.",
            "properties": {
              "longTermDate": {
                "type": "string",
                "description": "Date the position turns long-term. ISO 8601 date-time string."
              },
              "daysAway": {
                "type": "number",
                "description": "Days until that date."
              },
              "immediateLumpSumTax": {
                "type": "number",
                "description": "Tax in dollars on the full sell-down executed today (short-term rates)."
              },
              "delayedLumpSumTax": {
                "type": "number",
[...]
